body {
  overflow-x: hidden;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* SearchBox */

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
}

.winner {
  text-align: center;
}

/* roulette */

#memberPhoto {
  width: 100px;
  height: 100px;
}

.wheel {
  align-self: center;
  display: flex;
}

button.start {
  position: relative;
  font-weight: bold;
  margin: 15px 10px 20px 10px;
  align-self: center;
  border: none;
}

.arrowdown {
  position: relative;
  align-self: center;
  top: -10px;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 30px solid red;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/*Attendance list*/
.attendanceList {
  position: relative;
  text-align: left;
}

li {
  list-style-type: none;
}

/* Bootstrap home */

.text-primary {
  color: #cc0000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.section-search {
  padding: 120px 0 20px;
}

.btn {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.start {
  background-color: red;
  border-color: red;
  color: white;
}

.start:active,
.start:focus,
.start:hover {
  background-color: #f80000 !important;
  border-color: #f80000 !important;
  color: white;
}
.start:active,
.start:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 76, 53, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(254, 76, 53, 0.5) !important;
}

#mainNav {
  background: #cc0000;
}

.logo {
  width: 100px;
  height: 75px;
}

header.masthead .intro-text {
  padding-top: 300px;
  padding-bottom: 200px;
}

header.masthead .intro-text .intro-heading {
  font-size: 55px;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 30px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }

  header.masthead {
    text-align: center;
    color: black;
    background-image: url("./images/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .intro-heading {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
}

@media (min-width: 768px) {
  header.masthead {
    text-align: center;
    color: black;
    background-image: url("./images/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  .intro-heading {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  header.masthead .intro-text .intro-heading {
    font-size: 65px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

.raffle {
  text-align: center;
  align-self: center;
}

.spinner {
  width: 80px;
  align-self: center;
}

p {
  text-align: center;
}

/* footer */

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transtion: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #cc0000;
}
